* {
    margin: 0 ;
    padding: 0 ;
    font-family: calibri;
}
.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image:url("photo_2023-03-14_13-03-34.jpg");
    
    
    
}
.navbar {
    width: 96.8%;
    margin:auto;
    padding: 20px;
    display : flex;
    align-items: center;
    justify-content: space-between;

}

a{
    font-size: 20px;
}
.navbar a{

    display : flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
   
}





.logo {
    width:50px;
    cursor: pointer;
    border-radius: 50%;
}
.navbar ul li {
    list-style : none;
    display:inline-block;
    margin:0 20px ;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after {
    content:'';
    height: 2px;
    width: 0%;
    background: #1877f2;
    position: absolute;
    left: 0;
    bottom: -10%;
    transition: 0.5s;
}
.navbar ul li:hover:after {
width: 100%;
    
}


h1{
    color: #ffffff;
}

.founder{
    font-size: 30px;
}
.founder:hover{

    color: #1877f2;
}
.reklam{
color: #ffffff;
    background: #292929;
    width: 10%;
    height: 90%;

    text-align: center;
    margin-left: 89%;
    margin-right: 5px;

}

.nwsin{
    color: #ffffff;
    border-style: ridge ;
    border-color: #1877f2;
    font-size: large;
    text-align: center;
}
.rasm1{
    width: 100px;
    height: 100px;


}
.nwsin2{
    color: #ffffff;
    font-size: large; 
    background-color: #171717;
    width: 100%;
    height: 100%;
}
.gshty{
    flex-wrap: wrap;
    float: left;
}
.paragraph{
    width: 80%;
    height: 0%;
    margin: 20px;
    text-align: justify;
}
.nwsin3{
    padding: 20px;
    color: #ffffff;
    font-family: sans-serif;
    list-style: disc;
}

.ulp{
    size: 20px;
    color:#1877f2;
}

.navbarimg{
    width: 60px;
    height:60px;
    border-radius: 50%;
}

.copy{
    color: #ffffff;
    text-align: center;
}

.end1{
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
    width: 20%;
    height: 20%;


    
}
.end2{
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
    width: 20%;
    height: 20%;



}

.li{
    padding: 5px;
    list-style: none;
    font-size:large ;

}
.enda{
    text-decoration: none;
    color:#9f9f9f;
}
.end{
    padding: 5px;
    width: 98%;
    height: 40%;
    float:left;
    display: flex;


}


.friend{
    height: 52%;
    width: 95%;
    padding-left: 0px;
    margin: 10px;
    background-color: #1b3557;
    display: flex;
    float: left;
    
}
.part1{
    padding: 27px;
    width: 16%;
    height: 10%;
    text-align: justify;
    color: #ffffff;

}
.wena{
    padding: 30px;
    padding-left: 10px;
    margin: 10px;
    width: 95%;
    background-color: #1b3557;


}

.wena1{
    padding: 60px;
}
.wena2{
    border: 3px solid;
    border-color: #1877f2;
    width: 80px;
    border-radius: 50%;
}
.para{
    padding: 10px;
padding-left: 20px;
width: 180px;
}
.friends{
    color: #ffffff;
    font-size:40px;
    width: 98%;
    height: 50px;
    margin: 10px;
    background-color: #1b3557;

}
.friends:hover{
    color: #1877f2;
}

.name{
    color: #1877f2;
    text-decoration: double;
    font-size: 20px;
}
.name:hover{
    color: #ffffff;
}
